<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SelfDefense"
        tools:targetApi="31">
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".SavedVideosActivity"
            android:exported="false" />
        <activity
            android:name=".DownloadedVideosActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".MeActivity"
            android:exported="false" />
        <activity
            android:name=".AddLiveSessionActivity"
            android:exported="false" />
        <activity
            android:name=".AddTipsActivity"
            android:exported="false" />
        <activity
            android:name=".AddStepsActivity"
            android:exported="false" />
        <activity
            android:name=".VideoStepsActivity"
            android:exported="false" />
        <activity
            android:name=".SessionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LiveSessionsActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".SafetyTipsActivity"
            android:exported="false" />
        <activity
            android:name=".VideoDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name=".LearnActivity"
            android:exported="false" />
        <activity android:name=".EmergencyActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep Link Intent -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="resetpassword"
                    android:scheme="myapp" />
            </intent-filter>
        </activity> <!-- FileProvider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="true"
            android:exported="false"
            tools:replace="android:enabled">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://627236377285327:3AQYhR4QoGYttQNZ2WoucgPUAx4@diig6qhjl" />
    </application>

</manifest>